---

name: "Archive Playlist"
run-name: "Archive Playlist"

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
        description: Environment to archive the playlist in

  workflow_dispatch:
    inputs:
      environment:
        type: environment
        required: true
        description: Environment to archive the playlist in

defaults:
  run:
    shell: bash

env:
  GH_REPO: ${{ github.repository }}
  GH_TOKEN: ${{ secrets.AUTO_DOWNLOAD }}

concurrency:
  group: ${{ github.workflow_ref }}-${{ inputs.environment }}
  cancel-in-progress: false

jobs:

  enumerate-playlist:
    name: Enumerate Playlist
    runs-on: ubuntu-latest
    timeout-minutes: 1000 # Max time out is lower, but allow for future increase
    environment: ${{ inputs.environment }}
    env:
      URL: ${{ secrets.url }}
    
    steps:

      - name: Prepare
        run: sudo apt-get update --fix-missing

      - name: Install yt-dlp
        run: |
          mkdir -p ~/.local/bin
          echo "~/.local/bin" >> "$GITHUB_PATH"
          curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o ~/.local/bin/yt-dlp
          chmod a+rx ~/.local/bin/yt-dlp

      - name: Install tor
        run: sudo apt install -y tor

      - name: Get Existing Downloads
        run: gh api "${ENDPOINT}" --paginate --jq "${JQ_QUERY}" | sort | tee existing-downloads.txt
        env:
          ENDPOINT: '/repos/${{ vars.repository }}/contents'
          JQ_QUERY: '.[].path'

      - name: Get Possible Downloads
        run: |
          yt-dlp "${URL}" \
            --proxy socks5h://localhost:9050 \
            --dump-single-json \
            --ignore-errors \
            --flat-playlist \
          | jq | tee playlist.json

      - name: Get Missing Downloads
        run: comm -23 <(jq --raw-output "${JQ_QUERY}" playlist.json | sort) existing-downloads.txt | tee missing-downloads.txt
        env:
          JQ_QUERY: '.entries[] | select ( .title != "[Private video]" ) | .id'

      - id: enumerate
        name: Enumerate
        run: |
          {
            xargs < missing-downloads.txt -IID jq '.entries[] (.entries[] | select(.id == "ID" and ._type == "url" and .url != null).url)' playlist.json ;
          } |
          sort --random-sort |
          jq --slurp --raw-output '"urls=\(.[:256])"' |
          tee -a "${GITHUB_OUTPUT}"

      - if: always()
        name: Upload Artifacts
        uses: actions/upload-artifact@v6.0.0
        with:
          name: debuging-artifact-${{ inputs.environment }}
          path: |
            **/*.txt
            **/*.json

    outputs:
      urls: ${{ steps.enumerate.outputs.urls }}

  archive-video:
    if: needs.enumerate-playlist.outputs.urls != '[]'
    name: "Archive Video"
    needs: enumerate-playlist
    strategy:
      fail-fast: false
      max-parallel: 32
      matrix:
        url: ${{ fromJSON(needs.enumerate-playlist.outputs.urls) }}

    secrets: inherit
    uses: ./.github/workflows/archive-video.yaml
    with:
      environment: ${{ inputs.environment }}
      url: ${{ matrix.url }}
