---

name: "Archive Video"
run-name: "Archive ${{ inputs.url }} (${{ inputs.retry_count }} retries remaining)"

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
        description: Environment to archive the video in

      url:
        type: string
        required: true
        description: Url of the video to archive

      retry_count:
        type: number
        default: 3
        required: false
        description: How many retries could be attempted

  workflow_dispatch:
    inputs:
      environment:
        type: environment
        required: true
        description: Environment to archive the video in

      url:
        type: string
        required: true
        description: Url of the video to archive

      retry_count:
        type: number
        default: 3
        required: false
        description: How many retries could be attempted

env:
  GH_TOKEN: ${{ secrets.AUTO_DOWNLOAD }}

concurrency:
  group: ${{ inputs.url }}
  cancel-in-progress: false

jobs:
  archive-video:
    env:
      URL: ${{ inputs.url }}
      REPO: ${{ vars.repository }}
      FORMAT: |
        ${{ join(fromJSON('[
          "best[filesize<99M]",
          "bestaudio[filesize<99M]",
          "bestaudio",
        ]'), ' / ') }}

    name: "Archive ${{ inputs.url }}"
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:

      - id: gh-version
        name: Get GHCLI Version
        run: gh --version | jq --raw-input --raw-output "${JQ_QUERY}" | tee -a "${GITHUB_OUTPUT}"
        env:
          JQ_QUERY: |
            .
            | capture("v(?<major>\\d+)\\.(?<minor>\\d+)\\.(?<patch>\\d+)")
            | to_entries[]
            | select(.value != "")
            | .key + "=" + (.value | tostring)

      - if: steps.gh-version.outputs.major == 2 && steps.gh-version.outputs.minor < 87
        name: Upgrade GHCLI
        run: |
          (type -p wget >/dev/null || (sudo apt update && sudo apt install wget -y)) \
          	&& sudo mkdir -p -m 755 /etc/apt/keyrings \
          	&& out=$(mktemp) && wget -nv -O$out https://cli.github.com/packages/githubcli-archive-keyring.gpg \
          	&& cat $out | sudo tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null \
          	&& sudo chmod go+r /etc/apt/keyrings/githubcli-archive-keyring.gpg \
          	&& sudo mkdir -p -m 755 /etc/apt/sources.list.d \
          	&& echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null \
          	&& sudo apt update \
          	&& sudo apt install gh -y
          gh --version

      - name: Prepare
        run: sudo apt-get update --fix-missing

      - name: Install yt-dlp
        run: |
          mkdir -p ~/.local/bin
          echo "~/.local/bin" >> "$GITHUB_PATH"
          curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o ~/.local/bin/yt-dlp
          chmod a+rx ~/.local/bin/yt-dlp

      - name: Install tor
        run: sudo apt install -y tor

      - name: Install ffmpeg
        run: sudo apt install -y ffmpeg

      - name: Install moreutils
        run: sudo apt install -y moreutils

      - name: Install deno
        run: curl -fsSL https://deno.land/install.sh | sh

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ secrets.ref || 'main' }}
          token: ${{ secrets.AUTO_DOWNLOAD }}
          repository: ${{ env.REPO }}

      - id: target
        name: Determine Target
        run: echo "branch=archive/${{ github.run_id }}-${{ github.run_number }}-${{ github.run_attempt }}-${{ strategy.job-index }}-$(openssl rand -hex 8)" | tee -a "${GITHUB_OUTPUT}"

      - id: download
        name: Download
        run: |
          yt-dlp \
            --no-simulate \
            --quiet --verbose \
            --no-abort-on-error \
            --preset-alias sleep \
            --js-runtimes "deno:${HOME}/.deno/bin/deno" \
            --proxy socks5h://localhost:9050 \
            --concurrent-fragments "$(nproc)" \
            --restrict-filenames --windows-filenames \
            --video-multistreams --audio-multistreams \
            --format "${FORMAT}" --format-sort "filesize:100M" --check-formats \
            --sponsorblock-mark "all" --sponsorblock-remove "sponsor,selfpromo,preview,interaction,outro" \
            --output "%(id)s/%(ext)s/%(title)s.%(ext)s" \
            --print-to-file 'id=%(id)s' "${GITHUB_OUTPUT}" \
            --print-to-file 'ext=%(ext)s' "${GITHUB_OUTPUT}" \
            --print-to-file 'tags=%(tags)s' "${GITHUB_OUTPUT}" \
            --print-to-file 'title=%(title)s' "${GITHUB_OUTPUT}" \
            --print-to-file 'license=%(license)s' "${GITHUB_OUTPUT}" \
            --print-to-file 'filename=%(filename)s' "${GITHUB_OUTPUT}" \
            --print-to-file 'filepath=%(filepath)s' "${GITHUB_OUTPUT}" \
            --print-to-file 'webpage_url=%(webpage_url)s' "${GITHUB_OUTPUT}" \
            --print-to-file 'availability=%(availability)s' "${GITHUB_OUTPUT}" \
            --print-to-file 'duration=%(duration)s' "${GITHUB_OUTPUT}" --print-to-file 'duration_string=%(duration_string)s' "${GITHUB_OUTPUT}" \
            --print-to-file 'modified_timestamp=%(modified_timestamp)s' "${GITHUB_OUTPUT}" --print-to-file 'modified_date=%(modified_date)s' "${GITHUB_OUTPUT}" \
            --print-to-file 'channel=%(channel)s' "${GITHUB_OUTPUT}" --print-to-file 'channel_id=%(channel_id)s' "${GITHUB_OUTPUT}" --print-to-file 'channel_url=%(channel_url)s' "${GITHUB_OUTPUT}" \
            --print-to-file 'upload_date=%(upload_date)s' "${GITHUB_OUTPUT}" --print-to-file 'release_timestamp=%(release_timestamp)s' "${GITHUB_OUTPUT}" --print-to-file 'release_date=%(release_date)s' "${GITHUB_OUTPUT}" \
            "${URL}"

      - id: retry
        if: failure() && steps.download.outcome == 'failure' && inputs.retry_count > 0
        name: Retry
        run: echo "${INPUTS}" | jq "${JQ_QUERY}" | gh --repo "${REPO}" workflow run "${WORKFLOW}" --json # | xargs -IRUN_ID gh run watch --compact --exit-status RUN_ID
        env:
          WORKFLOW: archive-video.yaml # ${{ github.workflow }}
          INPUTS: ${{ toJson(inputs) }}
          REPO: ${{ github.repository }}
          JQ_QUERY: '.retry_count = ((.retry_count | tostring | tonumber) - 1 | tostring)'

      - name: Split Files greater than 100 Megabytes
        run: find . -size +100M -not -path './.git/*' | xargs --verbose -IFILE split --bytes 100m --hex-suffixes --additional-suffix .split "FILE" "FILE."

      - name: Generate Checksum
        run: find . -type f -not -path './.*' | xargs sha256sum | sponge | tee sha256.txt
        working-directory: ${{ steps.download.outputs.id }}/${{ steps.download.outputs.ext }}

      - name: Remove Files Over 100 Megabytes
        run: find . -size +100M -not -path './.git/*' | xargs --verbose -IFILE rm -rf FILE

      - name: Metadata
        run: jq "${JQ_QUERY}" <<< "${METADATA}" | tee metadata.json
        working-directory: ${{ steps.download.outputs.id }}
        env:
          METADATA: ${{ toJSON(steps.download.outputs) }}
          JQ_QUERY: .

      - name: Push
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git config --global http.postBuffer 524288000
          git checkout -b "${HEAD}"
          git add --verbose .
          git commit --message="${MESG}"
          git push --set-upstream origin "${HEAD}"
          gh pr create --base "${BASE}" --title "${MESG}" --body "${BODY}"
        env:
          BASE: ${{ github.ref_name }}
          HEAD: ${{ steps.target.outputs.branch }}
          MESG: Archive ${{ steps.download.outputs.webpage_url }}
          BODY: |
            * **ID**: `${{ steps.download.outputs.id }}`
            * **URL**: ${{ steps.download.outputs.webpage_url }}
            * **Title**: ${{ steps.download.outputs.title }}
            * **Filename**: ${{ steps.download.outputs.filename }}

            **NOTE:** This is an automatic commit. See the archive-video.yaml workflow.

      - name: Merge
        continue-on-error: true # Don't worry if it can't merge, the PR can be manually merged later
        timeout-minutes: 1
        run: gh pr merge --merge || gh pr view --json "${JQ_PROPS}" --template "${TEMPLATE}" | tee -a "${GITHUB_STEP_SUMMARY}"
        env:
          JQ_PROPS: 'url,number,title,body'
          TEMPLATE: |
            # Could not merge [${{ env.REPO }}#{{ .number }}]({{ .url }}), needs manual intervention!

            Possible fixes:

            * https://github.com/${{ env.REPO }}/pull/{{ .number }}/conflicts
            * https://github.com/${{ env.REPO }}/delete/main/${{ steps.download.outputs.id }}
            * https://github.com/${{ env.REPO }}/delete/main/${{ steps.download.outputs.filename }}

            ## {{ .title }}

            {{ .body }}
