---

name: "Run youtube downloader"
run-name: "Run youtube downloader"

on:

  workflow_dispatch:

  schedule:
    - cron: '18 16 * * 1/3'
    - cron: '15 14 1 * *'
    - cron: '23 18-23/2 * * *'
    - cron: '5 4 * * sun'
    - cron: '0 4 8-14 * *'
    - cron: '0 0 1,15 * 3'
    - cron: '5 0 * 8 *'
    - cron: '0 22 * * 1-5'

  push:
    branches: [main]
    paths:
      - .github/workflows/archive-video.yaml
      - .github/workflows/archive-playlist.yaml
      - .github/workflows/youtube-downloader.yaml

defaults:
  run:
    shell: bash

env:
  GH_REPO: ${{ github.repository }}
  GH_TOKEN: ${{ secrets.AUTO_DOWNLOAD }}

concurrency:
  group: ${{ github.workflow_ref }}
  cancel-in-progress: false

jobs:

  list-environments:
    name: "List Environments"
    runs-on: ubuntu-latest
    steps:

      - id: list-environments
        name: "List Environments"
        run: gh api "${ENDPOINT}" --jq "${JQ_QUERY}" | tee -a "${GITHUB_OUTPUT}"
        env:
          ENDPOINT: '/repos/${{ github.repository }}/environments'
          JQ_QUERY: '"json=\([ .environments[].name ])"'

    outputs:
      json: ${{ steps.list-environments.outputs.json }}

  archive-playlist:
    name: "Archive Playlist"
    needs: list-environments
    strategy:
      fail-fast: false
      max-parallel: 32
      matrix:
        environment: ${{ fromJSON(needs.list-environments.outputs.json) }}

    secrets: inherit
    uses: ./.github/workflows/archive-playlist.yaml
    with:
      environment: ${{ matrix.environment }}
